.navigation {
  position: fixed;
  width: 100%;
  background-color: $quiz-green;
  height: 4rem;
  z-index: 1000;

  .download-link {
  	font-weight: 400;
    padding: 0.5rem;
    background-color: transparent;
    border: 2px solid $quiz-orange;
    text-transform: uppercase;
    color: $quiz-orange;
    transition: .3s ease;

    &:hover,
    &:focus {
      background-color: $quiz-orange;
      color: $quiz-green;
      text-decoration: none;
    }
  }
}
